Add your CSS styles here
.student-details {
    display: none;
}
.student-name:hover {
    cursor: pointer;
}

.flash-error {
    color: red;
}
#logo {
    width: 100px; /* Adjusted size to be smaller */
    height: auto; /* Maintain aspect ratio */
    position: absolute;
    top: 10px; /* Adjust distance from the top as needed */
    right: 10px; /* Adjust distance from the right as needed */
}
